{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Welcome to the Tech Store</h2>

    <h3>Recommended categories</h3>
    <p><a href="/category/2">Smartphones</a></p>
    <p><a href="/category/1">TVs</a></p>
    <p><a href="/category/4">Washing Machines</a></p>

    <br>

    <h3>Popular products</h3>
    <p><a href="/product/5">iPhone 15</a></p>
    <p><a href="/product/6">Samsung Galaxy S23</a></p>
    <p><a href="/product/2">LG OLED 65</a></p>
    <p><a href="/product/3">Sony Bravia 50</a></p>
    <p><a href="/product/15">Bosch Serie 6</a></p>
    
{{end}}